body {
    margin: 0;
    padding: 0;
}

#upper {
    position: sticky;
    top: 0;
    background-color: #2a2a2a;
    height: 55px;
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 1;
}

#icon {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 10px;
}

#btnSet {
    background-color: white;
    opacity: 0.5;
    position: fixed;
    top: 50px;
    right: 0;
    padding: 40px 20px;
    margin: 20px;
    border-radius: 1em;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    z-index: 1;
 }

.imgB {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.goBtn {
    padding: 10px 15px;
    font-size: 20px;
    width: 150px;
    border-radius: 0.5em;
    /* border: 2px solid; */
 }

.goBtn:hover {
    background-color: rgb(255, 255, 255);
 }

 .btnImg {
    width: 32px;
    height: 32px;
 }

.upperBtn {
    border-radius: 10em;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.upperBtn:hover {
    background-color: rgb(63, 63, 63);
}

#i1 {
    width: 36px;
    margin-top: 10px;
    filter: brightness(0%) invert(100%);
}

#i2 {
    width: 30px;
    margin-top: 12px;
    filter: brightness(0%) invert(100%);
}

#i3 {
    width: 32px;
    margin-top: 14px;
    filter: brightness(0%) invert(100%);
}

#i4 {
    width: 32px;
    margin-top: 12px;
    filter: brightness(0%) invert(100%);
}

#i5 {
    width: 32px;
    margin-top: 12px;
}

.upperBtn {
    border-radius: 10em;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 10px
}

.upperBtn:hover {
    background-color: rgb(63, 63, 63);
}

#goBack {
    width: 36px;
    margin-top: 10px;
    filter: brightness(0%) invert(100%);
}

#container {
    display: flex;
    flex-direction: column;
    font-size: 0;
}

#image {
    width: 100%;
}

#gymText {
    margin-left: 15px;
}

.name {
    font-size: 3.5rem;
    margin-top: 30px;
}

.location {
    font-size: 2rem;
    margin-top: 10px;
}

.capacity {
    font-size: 1.7rem;
    margin-top: 10px
}

.runningTime {
    font-size: 1.7rem;
    margin-top: 10px
}

.gymCEO {
    font-size: 1.2rem;
    margin-top: 10px
}

.index {
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: lightsalmon;
}

.gymInfo {
    width: 50%;
    margin-left: 25%;
}

.price {
    font-size: 2rem;
    text-align: center;
    background-color: lemonchiffon;
    border-radius: 10em;
    margin-bottom: 20px;
}

.machine, .event, .trainer {
    font-size: 1.5rem;
    color: blue;
    background-color: lemonchiffon;
    text-align: center;
    border-radius: 10em;
    margin-top: 20px
}

.supplement {
    font-size: 1rem;
    color: darkblue;
    background-color: aliceblue;
    text-align: center;
    border-radius: 10em;
    margin-top: 5px;
}

.part {
    font-size: 1rem;
    color: darkblue;
    background-color: gainsboro;
    text-align: center;
    border-radius: 10em;
    margin-top: 5px;
}

.smallIdx {
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    color:deepskyblue;
}

.smallIdx div {
    color: black;
    background-color: lemonchiffon;
    border-radius: 10em;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 1.5rem;
}